<!DOCTYPE html>
<html>
<head>
    <title>HMS</title>
    <link rel="stylesheet" href="{{  url_for('static',filename='css/bodybg.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {% block head %}

  {% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/pharmacy_index">Hospital-Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/pharmacy_index">HOME</a></li>
        <li><a href="/issue_medicine">ISSUE MEDICINES</a></li>
      </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log-out</a></li>
    </ul>

  </div>
</nav>
<div class="container">
  {% include 'includes/_messages.html' %}
</div>
{% block body %}

{% endblock %}
</body>
</html>
